@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/type';
@import './login_override.scss';

.login-root-container {
    background-image:  linear-gradient(to bottom right,#996600  23%, #ffcc99 77%);
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    width: 500px;
    height: 300px;
    border: $spacing-01 solid #b39c9c ;
    background-color: #FFFFCC;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.35);
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.login-header-image-container {
    width: 300px;
    height: 200px;
    border-radius: $spacing-05;
}
.login-image-container {
    display: flex;
    justify-content: center;
}
.login-button-container {
    margin-top: 30px;
    width: 100%;
    height: 40px !important;
    display: flex;
    justify-content: center;
}
