.bx--grid {
    max-width:none !important;
}

.bx--label {
    margin-top: 30px !important;
    margin-bottom: 0 !important;
}

.bx--btn {
    min-height: 0  !important;
    max-width: 80px;
    max-height: 40px;
}