@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/type';

.root {
  height: 1500px;
  width: 100%;
}

.header {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head {
  background-color: green;
}

.title {
  @include carbon--type-style('productive-heading-04');
}
