@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/type';

.root-container {
  background-color: #f4f4f4;
}

.form-container {
  padding: $spacing-05;
  margin-top: $spacing-07;
  margin-bottom: $spacing-07;
  border-right: 2px solid #e0e0e0;
}

.title-container {
  @include carbon--type-style('productive-heading-01');
  color: #2c240d;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: $spacing-07;
}

.icons-container {
  margin-right: $spacing-06 !important;
  float: right;
}

.content-switcher {
  padding-top: $spacing-07;
}

.list {
  padding-top: $spacing-07;
}

.delete {
  cursor: pointer;
}
