@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/type';

.bx--tab-content {
  padding: 0px !important;
}

.bx--data-table thead {
  background-color: #2c240d !important;
}

.bx--data-table tbody {
  background-color: #f3c68c !important;
}

.toast-container {
  position: fixed;
  right: $spacing-06;
  bottom: $spacing-06;
}

.bx--header {
  background-color: #999966 !important;
}

.bx--structured-list {
  background-color: #ffffff !important;
}

.bx--content-switcher--selected {
  background-color: #2c240d !important;
}

.bx--accordion__content {
  background-color: #ffffff;
}

.bx--modal-footer {
  align-items: flex-end !important;
}

.bx--modal-content {
  padding-right: 3em !important;
  padding-left: 3em !important;
}
