@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/type';

.pages-title {
  padding: $spacing-07;
  background-color: #ffffff;
  padding-top: $spacing-11;
}
