@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/type';

.root-container {
  background-color: #f4f4f4;
  min-height: 100vh;
}

.content-container {
  padding-top: $spacing-07;
}

.icons-container {
  float: right;
  margin-left: $spacing-05;
}
