@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/type';

.root-container {
  height: 50px;
  width: 100%;
}

.header-container {
  background-color: #f3c68c;
  padding: $spacing-03;
  height: 50px;
}
.title-container {
  @include properties($productive-heading-03);
  font-weight: 500;
  color: #da1e28;
}
