@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/type';

.container-children {
  margin-top: $spacing-06;
}

.modal-subtitle {
  @include carbon--type-style('body-long-01');
}
